{{#ifCond data.catg '===' 'home'}}
  <div class="hero-section__container">
    <h2 class="hero-section__claim">From research to action</h2>
    <p class="hero-section__text">1º centro de investigação exclusivamente dedicado à Saúde Pública.</p>
  </div>
{{/ifCond}}