.event-item {
  @include _(flex);
  width: 48%;
  margin-bottom: 24px;

  @include breakpoint(small) {
    width: 100%;
  }

  &__date {
    @include _(flex);
    @include _(flex-column);
    @include _(align-items-center);
    @include _(justify-content-center);
    margin-right: 24px;
    padding: 8px;
    width: 140px;

    text-align: center;
    border-radius: 8px;
    background-color: $gray-dates;
    color: $white;

    &__day {
      margin-bottom: 4px;
      font-size: 48px;
      font-weight: 900;
    }
  }

  &__content {
    position: relative;
    width: 100%;

    padding: 16px 8px;

    border: 1px solid $gray-dates;
    border-right: none;
    border-left: none;

    font-size: 14px;

    > div {
      margin-bottom: 4px;
    }

    &__title {
      font-weight: 900;
    }


    &__when {
      margin-top: 12px;
      font-weight: 900;
    }

    .more-button {
      position: absolute;
      right: 0;
      bottom: 0;

      width: 24px;
      height: 21px;

      cursor: pointer;
    }
  }
}
