<div class="about__commission">
  <h2 class="about__title">
    {{t "sub_menu_monitoring_committee"}}
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur, doloribus explicabo fugit nam obcaecati omnis repudiandae sunt vel? Adipisci assumenda beatae consequuntur eum fugit iste libero optio suscipit tempore.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate distinctio facere ipsa minus, porro totam? Eius magnam nesciunt perspiciatis possimus quasi sapiente sint voluptatem? Laboriosam magni maxime quidem sequi sint.
  </p>

  <section class="about__commission__section">
    <div class="about__commission__col">
      <div class="about__commission__col__thumb"></div>
      <div class="about__commission__col__desc">
        <h3 class="about__commission__col__name">John Doe</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate earum est eveniet, fugiat iure minus pariatur perferendis placeat quam quasi quo quos sapiente soluta temporibus vel, veniam voluptatum?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate earum est eveniet, fugiat iure minus pariatur perferendis placeat quam quasi quo quos sapiente soluta temporibus vel, veniam voluptatum?</p>
      </div>
    </div>
    <div class="about__commission__col">
      <div class="about__commission__col__thumb"></div>
      <div class="about__commission__col__desc">
        <h3 class="about__commission__col__name">John Doe</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate earum est eveniet, fugiat iure minus pariatur perferendis placeat quam quasi quo quos sapiente soluta temporibus vel, veniam voluptatum?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate earum est eveniet, fugiat iure minus pariatur perferendis placeat quam quasi quo quos sapiente soluta temporibus vel, veniam voluptatum?</p>
      </div>
    </div>
    <div class="about__commission__col">
      <div class="about__commission__col__thumb"></div>
      <div class="about__commission__col__desc">
        <h3 class="about__commission__col__name">John Doe</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate earum est eveniet, fugiat iure minus pariatur perferendis placeat quam quasi quo quos sapiente soluta temporibus vel, veniam voluptatum?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem cupiditate earum est eveniet, fugiat iure minus pariatur perferendis placeat quam quasi quo quos sapiente soluta temporibus vel, veniam voluptatum?</p>
      </div>
    </div>
  </section>
</div>