<div class="page-header">
  <h2 class="page-header__title">Contactos</h2>
</div>

<div class="contacts__content">
  <div class="block">
    <div class="row">
      {{{view 'icons/ic_phone'}}}<a href="tel:+351217512100" title="phone number: +351217512100">+351 217 512 100</a>
    </div>
    <div class="row">
      {{{view 'icons/ic_email'}}}<a href="mailto:cisp@gmail.com" title="">jperelman@ensp.unl.pt</a>
    </div>
    <div class="row">
      {{{view 'icons/ic_pin'}}} <p>Avenida Padre Cruz, <br/>1600-566, Lisbon, Portugal</p>
    </div>
  </div>

  <div class="block">

    <div class="link-wrapper">
      <a href="#contactos/colaborar-com-cisp">
        Colaborar com o cisp
        {{{view 'icons/ic_more-button'}}}
      </a>
    </div>
  </div>
</div>

<div class="contacts__form">
  <form>
    <label for="name" class="form-name-label">
      <p>Nome</p>
      <input type="text" name="name" id="form-name" class="form-name-input" placeholder="">
    </label>

    <label for="email" class="form-email-label">
      <p>Email</p>
      <input type="email" name="_replyto" id="form-email" class="form-email" placeholder="">
    </label>

    <label for="message" class="form-message-label">
      <p>Mensagem</p>
      <textarea name="message" id="form-message" class="form-message" placeholder=""> </textarea>
    </label>

    <input type="submit" id="form-send" class="form-send" value="Enviar">
  </form>
</div>

