@import "_components/_reset",
		"_components/_media",
		"_components/_variables",
		"_components/_colors",
		"_components/_text",
		"_components/_icons";

html,body,header{
	@include _(full-width);
	margin:0;
}

body {
	background-color: #fff;
	font-family: 'Trebuchet MS',sans-serif;
	font-size: 16px;
	color: $text-color;
	text-rendering: optimizelegibility;
	a {
		-webkit-font-smoothing: antialiased!important;
	}
}

.app {
	position: relative;
	@include _(limited-full-width);
	min-height: 100%;
	z-index: 1;
	padding: 0 20px;

	@include breakpoint(small) {
		padding: 5px;
	}
}

@import "_components/_header/_header",
		"_components/_header/_menu",
		"_components/_heroSection",
		"_components/_footer",
		"_components/_spinner",
		"_components/_posts/_posts",
		"_global",
		"_home/_home-index",
		"_home/_home-news",
		"_home/_home-events",
		"_home/_home-publications",
		"_projects/_projects-index",
		"_about/_about-index",
		"_news/_news-index",
		"_news/_news-detail",
		"_events/_events-index",
		"_events/_events-detail",
		"_members/_members-index",
		"_members/_members-detail",
		"_publications/_publications-item",
		"_grants/_grants-index",
		"_static/_contacts",
		"_static/_mission",
		"_static/_commission",
		"_static/_thematic",
		"_common/_alert";

.invisible {
	display: none;
}

.hidden {
	visibility: hidden !important;
    opacity: 0 !important;
    transition: opacity 0.2s, visibility 0.2s !important;
}

.active {
	display: block;
}
