<div class="grant-item__content">
    {{{content}}}
</div>

<div class="grant-item__research-field">
  {{custom_fields.research_field}}
</div>

<div class="grant-item__contacts">
  <a href="#contactos" class="button">
    {{t "menu_contacts"}}
  </a>
</div>