<div class="header__container">
  <a href="/#" class="logo" id="logo">
    <div class="logo--cisp">
      {{{view 'icons/ic_logo-v02'}}}
    </div>
    <div class="logo--ensp"></div>
  </a>

  <div class="header__wrapper">

    <div class="nav--lang">
      <a href="#pt" class="active">PT</a>
      <a href="#en">EN</a>
    </div>

    <div id="menu" class="menu"></div>

  </div>
</div>