<div class="banner">
  <a href="/#" class="logo" id="logo">
    <div class="logo--cisp">
      {{{view 'icons/ic_logo-v02'}}}
    </div>
    <div class="logo--ensp"></div>
  </a>
  <div id="menu" class="menu"></div>
</div>

<div id="hero-section" class="hero-section {{#ifCond data.catg '===' home}}active{{/ifCond}}"></div>

