<div id="menu-button" class="menu__button">X</div>

<nav id="menu-wrapper" class="menu__wrapper">
  <a href="#sobre">Sobre Nós</a>
  <a href="#membros">Membros</a>
  <a href="#projetos">Projetos</a>
  <a href="#eventos">Eventos</a>
  <a href="#publicacoes">Publicações</a>
  <a href="#noticias">Notícias</a>
</nav>
