<div id="menu-button" class="menu__button">

  <div class="menu__button menu__button--open active" id="menu-open">
    {{{view 'icons/ic_menu'}}}
  </div>

  <div class="menu__button menu__button--close" id="menu-close">
    {{{view 'icons/ic_close'}}}
  </div>
</div>

<ul id="menu-wrapper" class="menu__wrapper">
  <li>
    <div>Quem somos</div>
    <ul class="sub-menu">
      <li><a href="#missao">Missão</a></li>
      <li><a href="#linhas-tematicas">Linhas Temáticas</a></li>
      <li><a href="#membros">Membros</a></li>
      <li><a href="#comissao-acompanhamento">Comissão de Acompanhamento</a></li>
    </ul>
  </li>
  <li><a href="#projetos">Projetos</a></li>
  <li><a href="#eventos">Eventos</a></li>
  <li><a href="#publicacoes">Publicações</a></li>
  <li><a href="#noticias">Notícias</a></li>
  <li><a href="#bolsas">Bolsas</a></li>
  <li><a href="#contactos">Contactos</a></li>
</ul>
