<div class="home-container">

  <section class="home__section home__section--multi">
    <div class="home__section__wrapper" id="home-news">{{{view "components/spinner"}}}</div>
    <div class="home__section__wrapper" id="home-events">{{{view "components/spinner"}}}</div>
  </section>

  <section class="home__section" id="home-publications">

      {{{view "components/spinner"}}}

  </section>

</div>
