<div class="post-list__header">
  <h2 class="post-list__header__title">Membros Efetivos</h2>
</div>

<div id="members-effective">{{{view "components/spinner"}}}</div>

<div class="post-list__header">
  <h2 class="post-list__header__title">Membros Associados</h2>
</div>

<div id="members-associated">{{{view "components/spinner"}}}</div>
