<article class="member-detail__article">
  {{#if title}}
    <h5 class="member-detail__article__title">{{title}}</h5>
  {{/if}}
  <div class="member-detail__article__text">{{{content}}}</div>
</article>