<div class="post-list__header">
  <h2 class="post-list__header__title">Notícias</h2>
</div>

<div id="post-list-container" class="post-list__container">

</div>

{{!-- {{#ifCond this.length '<' this.totalPosts}} --}}
<div id="load-more-posts" class="load-more">MAIS</div>
{{!-- {{/ifCond}} --}}