<a href="#{{t "route-contacts"}}" class="close" id="detail-close">{{{view 'icons/ic_close'}}}</a>

<div class="post-list__header">
  <h2 class="post-list__header__title">{{t "collab_with_cisp"}}</h2>
</div>

<div id="post-list-container" class="post-list__container">

</div>

{{#ifCond this.length '<' this.totalPosts}}
<div id="load-more-posts" class="load-more">{{t "more"}}</div>
{{/ifCond}}
