.header {
  @include _(backface_hack);
  // @include _(padding);

  width: 100%;
  height: $header_height;
  background-image: url(../images/hero/hero-bg.jpg);
  background-position: center;
  background-size: cover;

  @include breakpoint(medium) {
    height: 300px;
  }

  &__container {
    @include _(flex);
    @include _(flex-column);

    .banner {
      @include _(flex);
      @include _(space-between);
      @include _(align-items-center);

      position: relative;
      width: 100%;
      padding: 20px 100px 0;

      background-color: #fff;

      @include breakpoint(medium) {
        padding: 12px;
      }
    }
  }

  &.sobre {
    height: 200px;
  }
  &.membros {
    height: 200px;
  }

  &.projetos,
  &.bolsas,
  &.publicacoes,
  &.noticias,
  &.eventos {
    height: 200px;
    background-image: url(../images/hero/hero-bg-secondary.jpg);

  }

  .logo {
    @include _(flex);
    @include _(align-items-center);
    margin-bottom: 20px;

    position: relative;

    z-index: 999;

    &:hover {
      cursor: pointer;
    }

    &--cisp,
    &--ensp {
      margin: 0 8px;
    }

    &--cisp {
      svg {
        width: 150px;
        height: 35px;

        @include breakpoint(medium) {
          width: 100px;
          height: 23px;
        }
      }
    }

    &--ensp {
      background-image: url(../images/logo_ensp_unl.png);
      background-position: center;
      background-size: cover;
      width: 178px;
      height: 80px;

      @include breakpoint(medium) {
        position: relative;
        width: 119px;
        height: 53px;
      }
    }
  }
}
