.header {
  @include _(backface_hack);
  width: 100%;
  z-index: 99;

  &__container {
    @include _(flex);
    @include _(space-between);
    @include _(align-items-center);

    @include _(limited-full-width);

  }

  &__wrapper {
    @include _(flex);
    @include _(flex-column);
    @include _(align-items-bottom);
    @include _(align-self-bottom);

    @include breakpoint(medium) {
      @include _(align-self-center);
    }

    .nav--lang {
      @include _(flex);

      margin-bottom: 12px;

      @include breakpoint(medium) {
        display: none;
      }
      a {
        margin-right: 8px;
        &.active {
          color: $hover-green;
        }

        &:hover {
          color: $hover-green;
          text-decoration: underline;
        }
      }

    }
  }

  .logo {
    @include _(flex);
    @include _(align-items-center);
    margin: 10px 0;

    position: relative;

    z-index: 999;

    &:hover {
      cursor: pointer;
    }

    &--cisp,
    &--ensp {
      margin: 0 8px;
    }

    &--cisp {
      margin-left: 0;

      svg {
        width: 150px;
        height: 35px;

        @include breakpoint(medium) {
          width: 100px;
          height: 23px;
        }
      }
    }

    &--ensp {
      background-image: url(../images/logo_ensp_unl.png);
      background-position: center;
      background-size: cover;
      width: 178px;
      height: 80px;

      @include breakpoint(medium) {
        position: relative;
        width: 119px;
        height: 53px;
      }
    }
  }
}
