.header {
  @include _(backface_hack);
  // @include _(padding);

  width: 100%;
  height: $header_height;
  background-image: url(../images/hero/hero-bg.jpg);
  background-position: center;
  background-size: cover;

  @include breakpoint(medium) {
    height: 300px;
  }

  &__container {
    @include _(flex);
    @include _(flex-column);
  }

  &.sobre {
    height: 200px;
  }
  &.membros {
    height: 200px;
  }
  &.projetos {
    height: 200px;
    background-image: url(../images/hero/hero-bg-secondary.jpg);
  }
  &.eventos {
    height: 200px;
    background-image: url(../images/hero/hero-bg-secondary.jpg);
  }
  &.publicacoes {
    height: 200px;
  }
  &.novidades {
    height: 200px;
  }

  .logo {
    display: block;
    position: relative;

    z-index: 999;

    &:hover {
      cursor: pointer;
    }

    svg {
      width: 150px;
      height: 35px;

      rect,
      path {
        fill: $black;
      }

      @include breakpoint(medium) {
        width: 100px;
        height: 23px;
      }
    }

    p {
      font-size: 13px;
      margin: 2px 0 4px 0;
      color: $black;
      @include breakpoint(medium) {
        font-size: 9px;
      }
    }

    &--ensp {
      display: none;
      position: absolute;
      top: 0;
      right: 20px;
      background-image: url(../images/footer/logo_ensp_unl.png);
      background-position: center;
      background-size: cover;
      width: 178px;
      height: 80px;

      &.active {
        display: block;

        @include breakpoint(medium) {
          display: none;
        }
      }

      @include breakpoint(medium) {
        position: relative;
        width: 119px;
        height: 53px;
        margin-top: 18px;
        margin-left: 16px;
      }
    }
  }

}

.banner {
  @include _(flex);
  @include _(space-between);
  @include _(align-items-center);

  width: 100%;
  height: 70px;
  padding: 0 100px;

  background-color: #fff;
}
