.hero-section {
	@include _(limited-full-width);

	&.active {

	}

	&__claim {
		@include _(title-about);
	}

	&__block {

		&__text {
			padding-right: 10%;
			color: $white;
			font-weight: 400;
			font-size: 20px;
			line-height: 28px;
		}
	}

	&__page-identifier {
		display: block;
		float: left;
		margin-top: 320px;

	    a {
			font-size: 50px;
		    text-transform: uppercase;
		    text-decoration: underline;

		    @include breakpoint(small) {
				font-size: 30px;
				line-height: 30px;
			}
	    }

	    &--small {
	    	margin-top: 290px;

	    	a {
				line-height: 50px;
				font-size: 40px;

				@include breakpoint(small) {
					font-size: 20px;
					line-height: 30px;
				}
	    	}
	    }

	    @include breakpoint(medium) {
			margin-top: 50px;
		}

		@include breakpoint(small) {
			// margin: 10px;
		}
	}
}
