.new-item {
	@include _(flex);
	width: 100%;
	margin-bottom: 24px;

	@include breakpoint(small) {
		width: 100%;
	}

	&__thumb {
		flex: 1;
		margin-right: 24px;

		img {
			width: 100%;
		}
	}

	&__content {
		flex: 5;

		position: relative;


		padding: 16px 8px;

		border: 1px solid $gray-dates;
		border-right: none;
		border-left: none;

		font-size: 14px;

		&__title {
			font-weight: 900;
			margin-bottom: 24px;
		}


		&__when {
			margin-top: 12px;
			font-weight: 900;
		}

		.more-button {
			position: absolute;
			right: 0;
			bottom: 0;

			width: 24px;
			height: 21px;

			cursor: pointer;
		}
	}
}
