<div class="about__mission">

  <h2 class="about__title">Missão </h2>

  <p>O <span>Centro de Investigação em Saúde Pública (CISP) /  Public Health Research Center (PHRC)</span> é o primeiro
    centro de investigação reconhecido pela
    <a href="http://www.fct.pt/">Fundação para a Ciência e a Tecnologia</a> exclusivamente dedicado à Saúde Pública. Tem
    como missão realizar, desenvolver e promover a investigação em Saúde Pública, tendo em vista a criação de
    conhecimento que possa ser colocado ao serviço da melhoria da saúde das populações.</p>

  <p>Investigar em Saúde Pública é contribuir para a compreensão da saúde das populações e analisar o papel central dos
    sistemas e organizações de saúde, no sentido mais tradicional da Saúde Pública. Mas significa também orientar este
    esforço de compreensão para os desafios mais emergentes, atuais e complexos da Saúde Pública: envelhecimento,
    aumento das doenças crónicas, endemias, epidemias e pandemias, crises económicas e crescimento insustentável das
    despesas de saúde, desigualdades e iniquidades em saúde, ameaças ambientais, desenvolvimento tecnológico e terapias
    inovadoras, segurança do doente e qualidade dos cuidados de saúde.</p>

  <p>A missão do CISP é inspirada e motivada por estes desafios, aos quais responde não apenas com a ciência e com a
    investigação que realiza, mas também com o estabelecimento de pontes com a sociedade e o envolvimento no apoio ao
    desenho de políticas de saúde, de acordo com as melhores práticas em Saúde Pública, a nível nacional e
    internacional.</p>

  <p>O CISP está sediado na <a href="http://www.ensp.unl.pt/ensp">Escola Nacional de Saúde Pública</a> (ENSP) da <a
    href="http://www.unl.pt/pt/">Universidade NOVA de Lisboa</a>, que está na génese da sua criação. À imagem das
    atividades da ENSP, a investigação realizada no CISP é multi e transdisciplinar, e resulta do trabalho de
    <a href="http://www.aasilva.com/cisp/front-end/#sobre/membros"></a>especialistas em áreas tão diversas como a saúde
    ocupacional, promoção da saúde, gestão em saúde, economia da saúde, epidemiologia e estatística, direito e ética em
    saúde e políticas de saúde.</p>

  <p>O CISP colabora com diversos centros de investigação nacionais e internacionais na área da saúde e é aberto a todos
    os investigadores que desejem contribuir para o objetivo comum de uma investigação em Saúde Pública de alta
    qualidade, reconhecida em Portugal e no mundo.</p>
</div>
</div>