.home__section__new {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  width: 100%;

  &:after {
    content: '';
    position: absolute;

    bottom: 0;
    right: 0;
    width: 70%;
    height: 1px;
    background-color: $gray-dates;
  }

  &__thumb {
    width: 40%;
    height: 100px;
    background-size: cover;
    background-position: 0 0;
  }

  &__content {
    @include _(flex);
    @include _(flex-column);
    @include _(space-between);

    margin: 0 0 0 12px;
    width: calc(60% - 8px);

    h4 {
      margin: 0;
      font-size: 16px;
      margin-bottom: 12px;
    }

    .more-button {
      @include _(flex);
      @include _(align-self-bottom);

      svg {
        rect {
          fill: $gray-dates;
        }
      }
    }
  }
}