<div class="content__header">
  <h2 class="content__header__title">Projetos</h2>
</div>

<div id="projects-container" class="projects-container projects"></div>

{{#ifCond this.length '<' this.totalPosts}}
<div id="load-more-posts" class="load-more">MAIS</div>
{{/ifCond}}
