<div class="project-item__header">
  <h3>{{{title}}}</h3>
</div>

<div class="project-item__content">

  <div class="project-item__content__desc">

    {{#if custom_fields.author}}
      <div class="author">{{custom_fields.author}}</div>
    {{/if}}

    {{{content}}}

  </div>

  {{#if thumbnail_images.post-thumbnail.url}}

    <div class="project-item__content__thumb">
      <img src="{{thumbnail_images.post-thumbnail.url}}" alt="Project related logo">
    </div>

  {{/if}}
</div>