<div class="home__section__publication__content">
	<div class="publication__item">
		<div class="publication__item__column">
			<h4>{{title}}</h4>
			<p>{{{content}}}</p>
			<time datetime="{{date}}">{{{prettyDate}}}</time>
		</div>
	</div>
</div>
